@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  .dark {
    color-scheme: dark;
  }

  .dark body {
    @apply text-white;
  }
}

@layer utilities {
  .dark .dark\:text-white {
    color: white !important;
  }
}

.roboto-bold {
  font-family: 'Georgia', sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 900;
  font-style: normal;
}
.roboto {
  font-family: 'Georgia', sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
body {
  /* background-color: #090E19; */
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;  
  font-family: 'Georgia', sans-serif;
  /* font-family: "Arimo", sans-serif; */
  font-optical-sizing: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gradientText {
  background: linear-gradient(90deg, #16d8fa, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Georgia', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #c4007a; /* Pink color */
  letter-spacing: -1px;
}
.gradientText2 {
  background: linear-gradient(90deg, #c4007a, #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Georgia', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  letter-spacing: -1px;
}
a,
h1,
h2,
h3 {
  font-family: 'Georgia', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}
.arimo{
  font-family: 'Georgia', sans-serif;
  /* font-family: "Arimo", sans-serif; */

}


.charmFont {
  font-family: 'Charm', cursive;
  font-size: larger;
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

hr {
  margin: 2rem;
  border-radius: 22px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

*,
body,
html {
  &::-webkit-scrollbar {
    display: none;
    background-color: none;
    height: 20px;
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 99em;
    border: 6px solid none;
  }
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within,
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* Normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

pre {
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@keyframes fadeInUpH1 {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUpA {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUpP {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpInput {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  70% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

img {
  animation: fadeInUpP 1.5s ease-out;
}
p {
  animation: fadeInUpP 0.5s ease-out;
}

input {
  animation: fadeInUpInput 1.5s ease-out;
}

h1,
h2,
h3 {
  animation: fadeInUpH1 1s ease-out;
}

a {
  animation: fade 1s ease-out;
}
